* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main-header {
    background: #0099cc;
    padding: 20px;
    text-align: center;
    color: white;
    font-size: 28px;
    font-weight: bold;
}

.form-container {
    width: 40%;
    margin: 30px auto;
    padding: 20px;
    border-radius: 10px;
    background: #f8f8f8;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.form-header {
    font-size: 24px;
    text-align: center;
    font-weight: bold;
}

.form-row {
    display: flex;
    flex-direction: column;
    gap: 5px;
}
input {
    padding: 8px;
    font-size: 16px;
}
.profile-pics {
    display: flex;
    gap: 15px;
}
.profile-pics img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}


